<?xml version="1.0" encoding="utf-8"?>
<config>
    <database>
        <location>
            <path></path>
            <file>database.db</file>
        </location>
    </database>
    <server>
        <address>127.0.0.1</address>
        <!--        WebSocket服务器端口-->
        <port>3001</port>
    </server>

</config>
